<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>SimpleNotes</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ToLoginServlet</display-name>
    <servlet-name>ToLoginServlet</servlet-name>
    <servlet-class>servlets.ToLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToLoginServlet</servlet-name>
    <url-pattern>/toLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToRegisterServlet</display-name>
    <servlet-name>ToRegisterServlet</servlet-name>
    <servlet-class>servlets.ToRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToRegisterServlet</servlet-name>
    <url-pattern>/toRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BackServlet</display-name>
    <servlet-name>BackServlet</servlet-name>
    <servlet-class>servlets.BackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackServlet</servlet-name>
    <url-pattern>/back</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetPasswordServlet</display-name>
    <servlet-name>ForgetPasswordServlet</servlet-name>
    <servlet-class>servlets.ForgetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPasswordServlet</servlet-name>
    <url-pattern>/forget</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUsernameServlet</display-name>
    <servlet-name>CheckUsernameServlet</servlet-name>
    <servlet-class>servlets.CheckUsernameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUsernameServlet</servlet-name>
    <url-pattern>/checkUsername</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifyServlet</display-name>
    <servlet-name>VerifyServlet</servlet-name>
    <servlet-class>servlets.VerifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyServlet</servlet-name>
    <url-pattern>/verify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPasswordServlet</display-name>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <servlet-class>servlets.ResetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <url-pattern>/reset</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToCreateServlet</display-name>
    <servlet-name>ToCreateServlet</servlet-name>
    <servlet-class>servlets.ToCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToCreateServlet</servlet-name>
    <url-pattern>/toCreate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateServlet</display-name>
    <servlet-name>CreateServlet</servlet-name>
    <servlet-class>servlets.CreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateServlet</servlet-name>
    <url-pattern>/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToNoteServlet</display-name>
    <servlet-name>ToNoteServlet</servlet-name>
    <servlet-class>servlets.ToNoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToNoteServlet</servlet-name>
    <url-pattern>/toNote</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToMainServlet</display-name>
    <servlet-name>ToMainServlet</servlet-name>
    <servlet-class>servlets.ToMainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToMainServlet</servlet-name>
    <url-pattern>/toMain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>servlets.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImportantServlet</display-name>
    <servlet-name>ImportantServlet</servlet-name>
    <servlet-class>servlets.ImportantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImportantServlet</servlet-name>
    <url-pattern>/important</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NotImportantServlet</display-name>
    <servlet-name>NotImportantServlet</servlet-name>
    <servlet-class>servlets.NotImportantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotImportantServlet</servlet-name>
    <url-pattern>/notImportant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToModifyServlet</display-name>
    <servlet-name>ToModifyServlet</servlet-name>
    <servlet-class>servlets.ToModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToModifyServlet</servlet-name>
    <url-pattern>/toModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyServlet</display-name>
    <servlet-name>ModifyServlet</servlet-name>
    <servlet-class>servlets.ModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyServlet</servlet-name>
    <url-pattern>/modify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToShareServlet</display-name>
    <servlet-name>ToShareServlet</servlet-name>
    <servlet-class>servlets.ToShareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToShareServlet</servlet-name>
    <url-pattern>/toShare</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShareServlet</display-name>
    <servlet-name>ShareServlet</servlet-name>
    <servlet-class>servlets.ShareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShareServlet</servlet-name>
    <url-pattern>/share</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteShareServlet</display-name>
    <servlet-name>DeleteShareServlet</servlet-name>
    <servlet-class>servlets.DeleteShareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteShareServlet</servlet-name>
    <url-pattern>/deleteShare</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SettingServlet</display-name>
    <servlet-name>SettingServlet</servlet-name>
    <servlet-class>servlets.SettingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SettingServlet</servlet-name>
    <url-pattern>/setting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeQAServlet</display-name>
    <servlet-name>ChangeQAServlet</servlet-name>
    <servlet-class>servlets.ChangeQAServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeQAServlet</servlet-name>
    <url-pattern>/changeQA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordServlet</display-name>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>servlets.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/changePassword</url-pattern>
  </servlet-mapping>
</web-app>